FUSIONAUTH_URL=http://localhost:9011
FUSIONAUTH_INTERNAL_URL=http://fusionauth:9011
FUSIONAUTH_CLIENT_ID=your-client-id
APP_URL=http://localhost:3000
REZERVO_API_URL=http://localhost:8000
SECRET_KEY=  # openssl rand -hex 32
PORT=3000
